<!DOCTYPE html>
<html lang="es">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>Rocket Pizza</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <h1>Rocket Pizza</h1>
            <p>La pizzería con más sabor de la galaxia</p>
        </div>
    </header>

    <main class="container home-container">
        <div class="welcome-card">
            {% if user.is_authenticated and user.foto %}
                <img src="{{ user.foto.url }}"
                    alt="Foto de perfil"
                    class="foto-perfil">
            {% endif %}
            <h2> Bienvenido {{ user.username }} </h2> 
            <p>Veamos las pizzas disponibles</p>
            <a href="{% url 'menu' %}" class="btn btn-primary btn-large">Ver Nuestro Menú</a>

            {% if not user.is_authenticated %} 
             <a href="{% url 'login' %}" class="btn btn-outline btn-large">Iniciar Sesión</a>
            
             <a href="{% url 'register' %}" class="btn btn-outline btn-large">¿No tienes cuenta? Regístrate</a>
            
            {% endif %}
            
            {% if user.is_authenticated %} 

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline btn-large">Cerrar Sesión</button>
            </form>
            {% else %}
            <p> Inicia sesion o registrate para agregar, editar o eliminar pizzas del menú </p>
            {% endif %}
        </div>
    </main>
</body>
</html>